@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-gray-400 max-w-[241px] text-sm md:text-[16px]
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

h6 {
  @apply font-semibold  md:text-base text-sm
}

.section-heading {
  @apply text-[22px] md:text-3xl py-2 lg:text-[42px] text-txt-blue text-center
}