@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-gray-400 w-[241px] text-sm md:text-[16px]
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


h6 {
  @apply font-semibold  md:text-base text-sm
}

.section-heading {
  @apply text-[22px] flex items-center justify-center  md:text-3xl lg:text-3xl xl:text-[42px] text-txt-blue text-center
}